<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <!--      <div class="col-lg-6 col-md-8 mx-auto">-->
                <h1 class="fw-light">Welcome</h1>
                <li><a class="logout" href="@Url.Action("index", "Home")">logout</a></li>
                <style>
                    .header-text {
                        font-size: 36px; /* font size of the header */
                        font-weight: bold; /* font weight of the header */
                        text-align: center; /* align the header text to the center */
                        color: #6200ee; /* text color of the header */
                        text-shadow: 2px 2px #eeeeee; /* add text shadow to the header */
                        margin-top: 50px; /* add margin to the top of the
                    }
                </style>

                </p>
            </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">

                            
                <div class="col">
                    <div class="card shadow-sm">
                        <li><a class="create new brid"
                        href="@Url.Action("Index1", "Bird")">views birds && add new brid</a></li>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        </div>

    </main>

</body>
</html>