<<<<<<< HEAD
﻿@model WebApplication5.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login and Registration </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<nav class="main-nav">
		<ul>
			<li><a class="signin" href="@Url.Action("Login", "User")">sign in</a></li>
			<li><a class="signup" href="@Url.Action("Register", "User")">Sign up</a></li>
		</ul>
	</nav>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="./script.js"></script>

=======
﻿<!DOCTYPE html>
<html>
<head>
    <title>User Login and Registration</title>
</head>
<body>
    <h1>User Login</h1>
    <form action="/user/login" method="post">
        <div>
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="username" required>
        </div>
        <div>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <h1>User Registration</h1>
    <form action="/user/register" method="post">
        <div>
            <label for="register-username">Username:</label>
            <input type="text" id="register-username" name="username" required>
        </div>
        <div>
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" name="password" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
>>>>>>> e0c8543973a1f2d6f1d0cfa64a66e60368cea978
</body>
</html>
